<!DOCTYPE html>
<html lang="es" id="base">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Federico Vega</title>
        <link rel="stylesheet" type="text/css" href="../../styles/tailwind.css">
        <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
        <script src="../../js/functions.js"></script>
    </head>
    <body class="bg-[#DED29D] p-8 text-[#1C0D02] font-bold font-mono">

        <header class="bg-[#B3A580] flex rounded-md p-4" id="header">
            <script>
                includeHTML('partials-en/footer-en.html', 'footer');
            </script>
        </header>
        
        <main class="bg-[#B3A580] flex rounded-md p-4 mt-4 mb-4">
            <div class="grid grid-cols-2 gap-4 place-content-stretch">
                
                Analista y Programador Superior en Sistemas (Mar - 2014 / Dic - 2017).
                Técnico Superior en Computación y Redes (Feb - 2015 / Dic - 2018).
                Técnico Superior en Telecomunicaciones (Mar - 2016 / Dic - 2019).
                <p><b>(icono drogería Hidalgo hnos) Drogería Hidalgo Hnos:</b> junio 2022 - marzo 2023 (10 meses)</p>
                <p><b>(icono de zerpens) Zerpens:</b> junio 2022 - marzo 2023 (10 meses)</p>
                <p><b>(icono DGE) Direccion General de Escuelas:</b> junio 2022 - marzo 2023 (10 meses)</p>
                <p><b>Edad:</b>28 años</p>
                <p><b>Nacionalidad:</b> Argentino, Italiano</p>
                <p><b>Residencia:</b> Argentina, Mendoza</p>
            </div>
            <!-- Aquí puedes agregar el contenido para las secciones Estudios, Exp. Laboral y Proyectos -->
            <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
                <div class="-m-1 flex flex-wrap md:-m-2">
                    <div class="flex w-1/3 flex-wrap">
                        <div class="w-full p-1 md:p-2">
                            <img
                                alt="gallery"
                                class="block h-full w-full rounded-lg object-cover object-center"
                                src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                        </div>
                    </div>
                    <div class="flex w-1/3 flex-wrap">
                        <div class="w-full p-1 md:p-2">
                            <img
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(74).webp" />
                        </div>
                    </div>
                    <div class="flex w-1/3 flex-wrap">
                        <div class="w-full p-1 md:p-2">
                            <img
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(75).webp" />
                        </div>
                    </div>
                    <div class="flex w-1/3 flex-wrap">
                        <div class="w-full p-1 md:p-2">
                            <img
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp" />
                        </div>
                    </div>
                    <div class="flex w-1/3 flex-wrap">
                        <div class="w-full p-1 md:p-2">
                            <img
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(76).webp" />
                        </div>
                    </div>
                    <div class="flex w-1/3 flex-wrap">
                        <div class="w-full p-1 md:p-2">
                            <img
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(72).webp" />
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <!-- FOOTER -->
        <footer class="flex bg-[#B3A580] rounded-md p-4" id="footer">
            <script>
                includeHTML('partials-en/footer-en.html', 'footer');
            </script>
        </footer>
    </body>
</html>