<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estudios</title>
    <link rel="stylesheet" type="text/css" href="../../styles/tailwind.css">
    <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
    <script src="../../js/functions.js"></script>
  </head>

  <body class="bg-[#81B4CD] p-8">
    <input type="checkbox" id="check" class="cursor-pointer border-2 border-red-500 bg-red-500 hidden"> 

    <!-- HEADER -->   
    <div class="flex md:flex-row md:w-full text-[#DAE1E5]">
        <header class="md:w-12/12 w-full flex justify-between bg-[#0A3454] rounded-md p-4" id="header">
            <script>
                includeHTML('./partials-en/header-en.html', 'header');
            </script>
        </header>
        <div class="md:gap-2 md:grid md:items-center bg-[#1B687B] rounded-md md:mx-4 justify-between" id="lenguage-flags"> 
            <a href="../es/estudios-es.html" class="rounded-lg md:mx-4 grid items-center"><img class="mx-8 w-[72px] h-[48px] md:mx-0 md:w-[48px] md:h-[28px] hover:scale-110 transition-transform duration-300" src="/img/espania.png" alt="bandera españa"></a>
            <a href="../en/estudios-en.html" class="rounded-lg md:mx-4 grid items-center"><img class="mx-8 w-[72px] h-[48px] md:mx-0 md:w-[48px] md:h-[28px] hover:scale-110 transition-transform duration-300" src="/img/inglaterra.png" alt="bandera reino unido"></a>
        </div>
    </div>

    <!-- MAIN -->
    <main class="p-4 text-[#141414]">
        
        <h2 class="font-h2 text-center my-10 text-2xl sm:text-4xl">TECHNOLOGIES</h2>
        <div class="flex justify-center">
            <div class="flex content-between justify-between p-2 md:px-0 container">
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1 md:m-2 lg:m-4 flex justify-center items-center">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/Python.webp" alt="Python"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1 md:m-2 lg:m-4 flex justify-center items-center">
                    <a href=""><img class="hover:scale-105 transition-transform duration-300" src="/img/Django.webp" alt="Django"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1 md:m-2 lg:m-4 flex justify-center items-center">
                    <a href=""><img class="hover:scale-105 transition-transform duration-300" src="/img/git.webp" alt="Git"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1 md:m-2 lg:m-4 flex justify-center items-center">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/JavaScript.webp" alt="JavaScript"></a>
                </div>
                <div class="w-[64px] h-[32px] sm:w-[96px] sm:h-[48px] md:w-[128px] md:h-[64px] m-1 md:m-2 lg:m-4 flex justify-center items-center">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/PDM.webp" alt="PDM"></a>
                </div>
                <div class="w-[64px] h-[32px] sm:w-[96px] sm:h-[48px] md:w-[128px] md:h-[64px] m-1 md:m-2 lg:m-4 flex justify-center items-center">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300 rounded-sm" src="/img/htmx.webp" alt="HTMX"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1 md:m-2 lg:m-4 flex justify-center items-center">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/TailwindCSS.webp" alt="TailwindCSS"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1 md:m-2 lg:m-4 flex justify-center items-center">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/WordPress.webp" alt="WordPress"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1 md:m-2 lg:m-4 flex justify-center items-center">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/PostgreSQL.webp" alt="PostgreSQL"></a>
                </div>
                <div class="w-[64px] h-[32px] sm:w-[96px] sm:h-[48px] md:w-[128px] md:h-[64px] m-1 md:m-2 lg:m-4 flex justify-center items-center">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/MySQL.webp" alt="MySQL"></a>
                </div>
            </div> 
        </div>
        <h2 class="font-h2 text-center my-10 text-2xl sm:text-4xl">STUDIES</h2>
        
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 my-4 mx-auto">
            <div class="flex justify-center items-center py-10">
                <div class="group relative max-w-[500px] max-h-[375px] text-center">
                    <a href="https://drive.google.com/file/d/1Emg1aNE_1JHDP-Quuo4j8iXSN0Xf9n7v/view?usp=drive_link" target="_blank">
                        <img src="../../img/diplomas/ANALISTA-EN-SISTEMASA.webp" alt="ANALISTA EN SISTEMAS" class="w-full rounded-md group-hover:scale-105 transition-transform duration-300 max-h-[350px]">
                    </a>
                    <h3 class="text-center mt-2 font-h2">Technician in Systems Analysis and Programming</h3>
                </div>
            </div>
            <div class="flex justify-center items-center py-10">
                <div class="group relative max-w-[500px] max-h-[375px] text-center">
                    <a href="https://drive.google.com/file/d/1OW6pCheMGo0koIHi3hp9insM0SNniFP1/view?usp=drive_link" target="_blank">
                        <img src="../../img/diplomas/TELECOMUNICACIONES.webp" alt="TELECOMUNICACIONES" class="w-full rounded-md group-hover:scale-105 transition-transform duration-300 max-h-[350px]">
                    </a>
                    <h3 class="text-center mt-2 font-h2">Telecommunications Technician</h3>
                </div>
            </div>
            <div class="flex justify-center items-center py-10">
                <div class="group relative max-w-[500px] max-h-[375px] text-center">
                    <a href="https://drive.google.com/file/d/1UsOgX2d8r1f86LrKzLp4ilD7-LNpbDEP/view?usp=drive_link" target="_blank">
                        <img src="../../img/diplomas/TECNICO-EN-REDES.webp" alt="TECNICO-EN-REDES" class="w-full rounded-md group-hover:scale-105 transition-transform duration-300 max-h-[350px]">
                    </a>
                    <h3 class="text-center mt-2 font-h2">Computer and Networking Technician</h3>
                </div>
            </div>

        </div>
        <div class="flex md:justify-center justify-center py-10">
            <div class="group relative max-w-[500px] max-h-[375px] text-right">
              <form action="https://drive.google.com/file/d/1PhT5uUtrlFsd15OlcDjvj6DTJZvquRq2/view?usp=drive_link" class="flex items-center md:items-start w-full" target="_blank">
                <button class="bg-[#4aa0b8] rounded-md p-2 xl:text-base w-full md:mt-1 m-1 hover:scale-105 transition-transform duration-300 flex flex-col items-center justify-center" type="text">
                    <img src="./../../img/download-outline.svg" alt="download-outline" class="w-[32px] h-[32px] cursor-pointer">
                    <p>Courses</p>
                </button>
              </form>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="flex justify-between items-center p-4 bg-[#0A3454] text-[#DAE1E5] shadow-md mt-10 rounded-md" id="footer">
      <script>
        includeHTML('partials-en/footer-en.html', 'footer');
      </script>
    </footer>
  </body>
</html>
