<!DOCTYPE html>
<html lang="es" id="base">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Federico Vega</title>
        <link rel="stylesheet" type="text/css" href="../../styles/tailwind.css">
        <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
        <script src="../../js/functions.js"></script>
    </head>
    <body class="bg-[#DED29D] p-8 text-[#1C0D02] font-bold font-mono">
        
        <header class="bg-[#B3A580] flex rounded-md p-4" id="header">
            <script>
                includeHTML('partials-en/footer-en.html', 'footer');
            </script>
        </header>
        <main class="bg-[#B3A580] flex rounded-md p-4 mt-4 mb-4">
            <div class="grid grid-cols-2 gap-4 place-content-stretch">
                <p><b>(icono drogería Hidalgo hnos) Drogería Hidalgo Hnos:</b> junio 2022 - marzo 2023 (10 meses)</p>
                <p><b>(icono de zerpens) Zerpens:</b> junio 2022 - marzo 2023 (10 meses)</p>
                <p><b>(icono DGE) Direccion General de Escuelas:</b> junio 2022 - marzo 2023 (10 meses)</p>
                <p><b>Edad:</b>28 años</p>
                <p><b>Nacionalidad:</b> Argentino, Italiano</p>
                <p><b>Residencia:</b> Argentina, Mendoza</p>
            </div>
            <!-- Aquí puedes agregar el contenido para las secciones Estudios, Exp. Laboral y Proyectos -->
            
        </main>
        
        <!-- FOOTER -->
        <footer class="flex bg-[#B3A580] rounded-md p-4" id="footer">
            <script>
                includeHTML('partials-en/footer-en.html', 'footer');
            </script>
        </footer>
    </body>
</html>