<!DOCTYPE html>
<html lang="es" id="base">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Federico Vega</title>
        <link rel="stylesheet" type="text/css" href="../../styles/tailwind.css">
        <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
        <script src="../../js/functions.js"></script>
    </head>
    <body class="bg-[#DED29D] p-8 text-[#1C0D02] font-bold font-mono">

        <!-- HEADER -->
        <div class="flex content-center">
            <header class="flex bg-[#B3A580] rounded-md p-4" id="header">
                <script>
                    includeHTML('partials-en/header-en.html', 'header');
                </script>
            </header>
            <div class="flex bg-[#B3A580] rounded-md mx-4">
                <div class="ml-auto">
                    <a href="../es/index-es.html"><img class="rounded-full p-4 w-[64px] h-[64px]" src="/img/espana.png" alt="bandera españa"></a>
                    <a href="../en/index-en.html"><img class="rounded-full p-4 w-[64px] h-[64px]"  src="/img/reino-unido.png" alt="bandera reino unido"></a>
                </div>
            </div>
        </div>
        
        <!-- MAIN -->
        <main>
            <div id="informacion-personal">
                <p>Continuamente me esfuerzo por mejorar mis habilidades técnicas e incrementar la eficiencia en cualquier trabajo que haga.</p>

                <p>Aplico patrones de diseño, UML, test cases y flowcharts.</p>

                <p>Soluciono problemas digitales y optimizo tiempos, este ultimo es el objetivo adicional de cada proyecto, trabajo o emprendimiento que tenga.</p>

                <p>Actualmente estoy desarrollando una aplicación web en Django utilizando HTMX.</p>

                <p>La misma, es para gestión de stock y pedidos de un negocio de artículos regionales argentinos; si deseas ver el desarrollo de este proyecto te invito a visitar el siguiente enlace:</p>

                <p><a class="text-[#b7c68b]" href="https://github.com/DarthKenar/ElCanarioRegionales">ElCanarioRegionales</a></p>
            </div>
            <!-- Aquí puedes agregar el contenido para las secciones Estudios, Exp. Laboral y Proyectos -->
        </main>
        
        <!-- FOOTER -->
        <footer class="flex bg-[#B3A580] rounded-md p-4" id="footer">
            <script>
                includeHTML('partials-en/footer-en.html', 'footer');
            </script>
        </footer>

    </body>
</html>