<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyectos</title>
    <link rel="stylesheet" type="text/css" href="../../styles/tailwind.css">
    <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
    <script src="../../js/functions.js"></script>
  </head>

  <body class="bg-[#81B4CD] p-8">
    <input type="checkbox" id="check" class="cursor-pointer border-2 border-red-500 bg-red-500 hidden"> 

    <!-- HEADER -->   
    <div class="flex md:flex-row md:w-full text-[#DAE1E5]">
        <header class="md:w-12/12 w-full flex justify-between bg-[#0A3454] rounded-md p-4" id="header">
            <script>
                includeHTML('./partials-en/header-en.html', 'header');
            </script>
        </header>
        <div class="md:gap-2 md:grid md:items-center bg-[#1B687B] rounded-md md:mx-4 justify-between" id="lenguage-flags"> 
            <a href="../es/proyectos-es.html" class="rounded-lg md:mx-4 grid items-center"><img class="mx-8 w-[72px] h-[48px] md:mx-0 md:w-[48px] md:h-[28px] hover:scale-110 transition-transform duration-300" src="/img/espania.webp" alt="bandera españa"></a>
            <a href="../en/proyectos-en.html" class="rounded-lg md:mx-4 grid items-center"><img class="mx-8 w-[72px] h-[48px] md:mx-0 md:w-[48px] md:h-[28px] hover:scale-110 transition-transform duration-300" src="/img/inglaterra.webp" alt="bandera reino unido"></a>
        </div>
    </div>

    <!-- MAIN -->
    <main class="p-4 text-[#141414]">
      <h2 class="font-h2 text-center my-10 text-2xl sm:text-4xl">PROYECTS</h2>

      <div class="bg-[#1B687B] rounded-md lg:mx-20 "> 

        <div class="md:grid grid-cols-2 ">
          <!-- IMAGEN -->
          <div class="p-4 md:p-8 flex flex-col items-center justify-center "> 
            <p class="font-h1 text-[#DAE1E5] text-center py-4 md:pt-0">El Canario Regionales</p>
            <article>
              <img src="../../img/elCanarioRegionales.webp" class="max-h-[350px]">
              <a href="https://github.com/DarthKenar/ElCanarioRegionales" target="_blank">
                <img src="../../img/github-white.webp" alt="github" class="w-max-[64px] h-max-[64px] zoom-in">
              </a>
            </article>
          </div>
          <!-- contenedor de links y tecnologías -->
          <div class="md:p-8 md:h-full md:w-full">
            <!-- LINKS -->
            <div class="bg-[#0A3454] md:w-full md:h-[40%] md:p-[5%] md:my-[5%] rounded-t-lg md:rounded-md">
              <div class="">
                <p class="font-h2 text-[#DAE1E5] p-2 text-center md:text-left">Links:</p>
                <div class="flex px-2 md:px-0 justify-around">
                  <a href="https://github.com/DarthKenar/ElCanarioRegionales" target="_blank">
                    <img src="/img/github-black.webp" alt="github" id="github" class="rounded-sm  w-[64px] h-[64x] md:w-[64px] md:h-[64x] max-h-[48px] max-w-[48px] md:max-w-[48px] md:max-h-[48px] lg:max-w-[64px] lg:max-h-[64px] p-1 cursor-pointer zoom-in"> 
                  </a>
                  <a href="https://darthkenar.pythonanywhere.com/">
                    <img src="/img/link-outline.svg" alt="link" class="rounded-sm w-[64px] h-[64x] md:w-[64px] md:h-[64x] max-h-[48px] max-w-[48px] md:max-w-[48px] md:max-h-[48px] lg:max-w-[64px] lg:max-h-[64px] p-1 cursor-pointer zoom-in">
                  </a>
                  <div class="flex flex-col items-center">
                    <a href="https://www.youtube.com/channel/UCyXCCAQP_La8I2JtMVica9w" target="_blank">
                      <img src="/img/youtube.webp" alt="youtube" class="rounded-sm w-[64px] h-[64x] md:w-[64px] md:h-[64x] max-h-[48px] max-w-[48px] md:max-w-[48px] md:max-h-[48px] lg:max-w-[64px] lg:max-h-[64px] p-1 cursor-pointer zoom-in opacity-30">
                    </a>
                    <p class="text-[#DAE1E5] text-xs absolute pt-5">coming soon</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- TECNOLOGÏAS -->
            <div class="bg-[#0A3454] md:w-full  md:p-[5%] md:my-[5%] rounded-b-md md:rounded-md"> 
              <div class="">
                <p class="font-h2 text-[#DAE1E5] p-2 text-center md:text-left">Technologies:</p>
                <div class="flex justify-between p-2 md:px-0 container">
                  <div class="">
                    <img src="/img/Python.webp" alt="wordpress" class="rounded-sm max-h-[32px] max-w-[32px] md:max-w-[48px] md:max-h-[48px] lg:max-w-[48px] lg:max-h-[48px] md:mr-2 p-1">
                  </div>
                  <div class="">
                    <img src="/img/Django.webp" alt="wordpress" class="rounded-sm max-h-[32px] max-w-[32px] md:max-w-[48px] md:max-h-[48px] lg:max-w-[48px] lg:max-h-[48px] md:mr-2 p-1">
                  </div>
                  <div class="">
                    <img src="/img/PostgreSQL.webp" alt="wordpress" class="rounded-sm max-h-[32px] max-w-[32px] md:max-w-[48px] md:max-h-[48px] lg:max-w-[48px] lg:max-h-[48px] md:mr-2 p-1">
                  </div>
                  <div class="">
                    <img src="/img/htmx.webp" alt="wordpress" class="rounded-lg  max-w-[96px] max-h-[32px] md:max-w-[144px] md:max-h-[48px] lg:max-w-[144px] lg:max-h-[48px] md:mr-2 p-1">
                  </div>
                  <div class="">
                    <img src="/img/html.webp" alt="wordpress" class="rounded-sm max-h-[32px] max-w-[32px] md:max-w-[48px] md:max-h-[48px] lg:max-w-[48px] lg:max-h-[48px] md:mr-2 p-1">
                  </div>
                  <div class="">
                    <img src="/img/css.webp" alt="wordpress" class="rounded-sm max-h-[32px] max-w-[32px] md:max-w-[48px] md:max-h-[48px] lg:max-w-[48px] lg:max-h-[48px] md:mr-2 p-1">
                  </div>
                  <div class="">
                    <img src="/img/TailwindCSS.webp" alt="wordpress" class="rounded-sm max-h-[32px] max-w-[32px] md:max-w-[48px] md:max-h-[48px] lg:max-w-[48px] lg:max-h-[48px] md:mr-2 p-1">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

    <!-- FOOTER -->
    <footer class="flex justify-between items-center p-4 bg-[#0A3454] text-[#DAE1E5] shadow-md mt-10 rounded-md" id="footer">
      <script>
        includeHTML('partials-en/footer-en.html', 'footer');
      </script>
    </footer>
  </body>
</html>
