<div class="flex flex-col !items-center">
  <img class="rounded-full p-4 w-[200px] h-[200px] text-center text-lg "src="/img/perfil.png" alt="Foto de perfil">
</div>
<div class="w-2/4 place-content-center">
  <div class="flex flex-col !items-center">
    <h1 class=" text-center text-lg ">
      ANALISTA Y PROGRAMADOR SUPERIOR EN SISTEMAS
    </h1>
    <h2 class="text-center">FEDERICO VEGA</h2>
  </div>
</div>
<nav class="w-1/4">
  <ul class="grid grid-cols-2 gap-2 content-between">
    <!-- <script>
      readButton()
    </script> -->
    <li>
      <form action="informacion-personal-es.html">
        <button id="inf-per" data-id="0" class="mr-4 mt-4 bg-[#A29574] rounded-md p-2" type="text">Información Personal</button>
      </form>
    </li>
    <li>
      <form action="experiencia-laboral-es.html">
        
        <button id="exp-lab" class="mr-4 mt-4 bg-[#A29574] rounded-md p-2" type="text">Experiencia Laboral</button>
      </form>
    </li>
    <li>
      <form action="proyectos-es.html">
        <button id="pro" class="mr-4 mt-4 bg-[#A29574] rounded-md p-2" type="text">Proyectos</button>
      </form>
    </li>
    <li>
      <form action="estudios-es.html">
        <button id="est" class="mr-4 mt-4 bg-[#A29574] rounded-md p-2" type="text">Estudios</button>
      </form>
    </li>
  </ul>
</nav>





