<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estudios</title>
    <link rel="stylesheet" type="text/css" href="../../styles/tailwind.css">
    <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
    <script src="../../js/functions.js"></script>
    <!-- ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </head>

  <body class="bg-[#81B4CD] p-8">
    <input type="checkbox" id="check" class="cursor-pointer border-2 border-red-500 bg-red-500 hidden"> 

    <!-- HEADER -->   
    <div class="flex md:flex-row md:w-full text-[#DAE1E5]">
        <header class="md:w-12/12 w-full flex justify-between bg-[#0A3454] rounded-md p-4" id="header">
            <script>
                includeHTML('./partials-es/header-es.html', 'header');
            </script>
        </header>
        <div class="md:gap-2 md:grid md:items-center bg-[#1B687B] rounded-md md:mx-4 justify-between" id="lenguage-flags"> 
            <a href="../es/estudios-es.html" class="rounded-lg md:mx-4 grid items-center"><img class="mx-8 w-[72px] h-[48px] md:mx-0 md:w-[48px] md:h-[28px] hover:scale-110 transition-transform duration-300" src="/img/espania.png" alt="bandera españa"></a>
            <a href="../en/estudios-en.html" class="rounded-lg md:mx-4 grid items-center"><img class="mx-8 w-[72px] h-[48px] md:mx-0 md:w-[48px] md:h-[28px] hover:scale-110 transition-transform duration-300" src="/img/inglaterra.png" alt="bandera reino unido"></a>
        </div>
    </div>

    <!-- MAIN -->
    <main class="p-4 text-[#141414]">
        
        <h2 class="font-h2 text-center my-10 text-4xl">TECNOLOGÍAS</h2>
        <div class="grid grid-cols-3">
            <div></div>
            <div class="grid grid-cols-4 border-2">
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1">
                    <a href=""><img class="hover:scale-105 transition-transform duration-300" src="/img/Django.png" alt="Django"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1">
                    <a href=""><img class="hover:scale-105 transition-transform duration-300" src="/img/git.png" alt="Git"></a>
                </div>
                <div class="flex items-center w-[128px] h-[64px] sm:w-[48px] sm:h-[48px] md:w-[128px] md:h-[64px] m-1 border-2 border-red-500">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/htmx.png" alt="HTMX"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/JavaScript.png" alt="JavaScript"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/LeetCode.png" alt="LeetCode"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/MySQL.png" alt="MySQL"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[128px] md:h-[64px] m-1">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/PDM.png" alt="PDM"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/PostgreSQL.png" alt="PostgreSQL"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/Python.png" alt="Python"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/SQL.png" alt="SQL"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/TailwindCSS.png" alt="TailwindCSS"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/WordPress.png" alt="WordPress"></a>
                </div>
                <div class="w-[32px] h-[32px] sm:w-[48px] sm:h-[48px] md:w-[64px] md:h-[64px] m-1">
                    <a href="" ><img class="hover:scale-105 transition-transform duration-300" src="/img/youtube.png" alt="youtube"></a>
                </div>
          </div> 
            <div></div>
        </div>
        <h2 class="font-h2 text-center my-10 text-4xl">ESTUDIOS</h2>
        
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 my-4 mx-auto">
            <div class="flex justify-center items-center py-10">
                <div class="group relative max-w-[500px] max-h-[375px] text-center">
                    <a href="https://drive.google.com/file/d/1Emg1aNE_1JHDP-Quuo4j8iXSN0Xf9n7v/view?usp=drive_link" target="_blank">
                        <img src="../../img/diplomas/ANALISTA EN SISTEMASA.webp" alt="Analista en sistemas" class="w-full rounded-md group-hover:scale-105 transition-transform duration-300 max-h-[350px]">
                    </a>
                    <h3 class="text-center mt-2 font-h2">Técnico Superior en Análisis y Programacion de Sistemas</h3>
                </div>
            </div>
            <div class="flex justify-center items-center py-10">
                <div class="group relative max-w-[500px] max-h-[375px] text-center">
                    <a href="https://drive.google.com/file/d/1OW6pCheMGo0koIHi3hp9insM0SNniFP1/view?usp=drive_link" target="_blank">
                        <img src="../../img/diplomas/TELECOMUNICACIONES.webp" alt="" class="w-full rounded-md group-hover:scale-105 transition-transform duration-300 max-h-[350px]">
                    </a>
                    <h3 class="text-center mt-2 font-h2">Técnico Superior en Telecomunicaciones</h3>
                </div>
            </div>
            <div class="flex justify-center items-center py-10">
                <div class="group relative max-w-[500px] max-h-[375px] text-center">
                    <a href="https://drive.google.com/file/d/1UsOgX2d8r1f86LrKzLp4ilD7-LNpbDEP/view?usp=drive_link" target="_blank">
                        <img src="../../img/diplomas/TECNICO EN REDES.webp" alt="" class="w-full rounded-md group-hover:scale-105 transition-transform duration-300 max-h-[350px]">
                    </a>
                    <h3 class="text-center mt-2 font-h2">Técnico Superior en Computación y Redes</h3>
                </div>
            </div>
        </div>
        <div class="flex md:justify-center justify-center py-10">
            <div class="group relative max-w-[500px] max-h-[375px] text-right">
              <form action="https://drive.google.com/file/d/1PhT5uUtrlFsd15OlcDjvj6DTJZvquRq2/view?usp=drive_link" class="flex items-center md:items-start w-full" target="_blank">
                <button class="bg-[#4aa0b8] rounded-md p-2 xl:text-base w-full md:mt-1 m-1 hover:scale-105 transition-transform duration-300" type="text">
                    <ion-icon name="download-outline" class="min-w-[32px] min-h-[32px] cursor-pointer"></ion-icon>
                    <p>Otros cursos</p>
                </button>
              </form>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="flex justify-between items-center p-4 bg-[#0A3454] text-[#DAE1E5] shadow-md mt-10 rounded-md" id="footer">
      <script>
        includeHTML('partials-es/footer-es.html', 'footer');
      </script>
    </footer>
  </body>
</html>
