<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Experiencia Laboral</title>
    <link rel="stylesheet" type="text/css" href="../../styles/tailwind.css">
    <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
    <script src="../../js/functions.js"></script>
    <!-- ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </head>

  <body class="bg-[#81B4CD] p-8">
    <input type="checkbox" id="check" class="cursor-pointer border-2 border-red-500 bg-red-500 hidden"> 

    <!-- HEADER -->   
    <div class="flex md:flex-row md:w-full text-[#DAE1E5]">
        <header class="md:w-12/12 w-full flex justify-between bg-[#0A3454] rounded-md p-4" id="header">
            <script>
                includeHTML('./partials-es/header-es.html', 'header');
            </script>
        </header>
        <div class="md:gap-2 md:grid md:items-center bg-[#1B687B] rounded-md md:mx-4 justify-between" id="lenguage-flags"> 
            <a href="../es/experiencia-laboral-es.html" class="rounded-lg md:mx-4 grid items-center"><img class="mx-8 w-[72px] h-[48px] md:mx-0 md:w-[48px] md:h-[28px] hover:scale-110 transition-transform duration-300" src="/img/espania.png" alt="bandera españa"></a>
            <a href="../en/experiencia-laboral-en.html" class="rounded-lg md:mx-4 grid items-center"><img class="mx-8 w-[72px] h-[48px] md:mx-0 md:w-[48px] md:h-[28px] hover:scale-110 transition-transform duration-300" src="/img/inglaterra.png" alt="bandera reino unido"></a>
        </div>
    </div>

    <!-- MAIN -->
    <main class="md:p-4 text-[#141414]">


      <h2 class="font-h2 text-center my-10 text-4xl">EXPERIENCIA LABORAL</h2>      
      
      <!-- BLOQUE A EDITAR -->

      <div class="bg-[#1B687B] rounded-md m-0 p-0 md:p-5 mx-1 sm:mx-[5%] md:mx-[8%] text-[#DAE1E5]"> 
        <div class="p-2">
          <!-- imagen de la empresa alineada hacia la izquierda -->
          <a href="https://zerpens.com/" target="_blank">
            <img src="/img/logozerpensbyr.png" alt="Zerpens"> 
          </a>
          <!-- Nombre de la empresa -->
        </div>
        <div class="lg:flex">
          <!-- Descripcion del puesto, texto alineado a la izq -->
          <div class="p-2">
            <p>Desarrollo web usando el CMS WordPress, adecuación de estilos en CSS y estructuración de secciones con HTML. Encargado de soporte (presencial y remoto), redireccionamiento de dominios por DNS, instalación de certificados SSL, Cloudflare, configuración de bases de datos y colaboración con el mantenimiento de los servidores.</p>
          </div>
          <!-- Subtitulo y tecnologías -->
          <!-- dividido en dos secciones, el interior debe estar en la mitad o 2/3 del lado derecho -->
          <div class="flex flex-col items-end bg-[#0A3454] rounded-md p-1 sm:p-2 md:p-4 rounded-t-none md:rounded-t-md">
            <!-- Tecnologías alineado hacia la izquierda dentro de esa mitad del lado derecho -->
            <div class="">
              <p class="text-start font-h2">Tecnologías:</p>
              <div class="items-end flex pt-2">
                <!-- Logos de tecnologías usadas en el trabajo -->
                <!-- alineado hacia la izquierda -->
                <div class="pr-2">
                  <img src="/img/wordpress2.png" alt="wordpress" class="w-[32px] h-[32px] md:w-[48px] md:h-[48px] lg:w-[64px] lg:h-[64px] min-w-[32px] min-h-[32px] md:min-w-[48px] md:min-h-[48px] lg:min-w-[64px] lg:min-h-[64px]">
                </div>
                <div class="pr-2">
                  <img src="/img/cloudflare_icon_146206.png" alt="cloudflare" class="w-[32px] h-[32px] md:w-[48px] md:h-[48px] lg:w-[64px] lg:h-[64px] min-w-[32px] min-h-[32px] md:min-w-[48px] md:min-h-[48px] lg:min-w-[64px] lg:min-h-[64px]">
                </div>
                <div class="pr-2">
                  <img src="/img/html.png" alt="Wordpress" class="w-[32px] h-[32px] md:w-[48px] md:h-[48px] lg:w-[64px] lg:h-[64px] min-w-[32px] min-h-[32px] md:min-w-[48px] md:min-h-[48px] lg:min-w-[64px] lg:min-h-[64px]">
                </div>
                <div class="pr-2">
                  <img src="/img/css.png" alt="Wordpress" class="w-[32px] h-[32px] md:w-[48px] md:h-[48px] lg:w-[64px] lg:h-[64px] min-w-[32px] min-h-[32px] md:min-w-[48px] md:min-h-[48px] lg:min-w-[64px] lg:min-h-[64px]">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>

    <!-- FOOTER -->
    <footer class="flex justify-between items-center p-4 bg-[#0A3454] text-[#DAE1E5] shadow-md mt-10 rounded-md" id="footer">
      <script>
        includeHTML('partials-es/footer-es.html', 'footer');
      </script>
    </footer>
  </body>
</html>
