<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejemplo</title>
    <link rel="stylesheet" type="text/css" href="../../styles/tailwind.css">
    <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
    <script src="../../js/functions.js"></script>
  </head>

  <body class="bg-[#81B4CD] p-8">
    <input type="checkbox" id="check" class="cursor-pointer border-2 border-red-500 bg-red-500 hidden"> 

    <!-- HEADER -->   
    <div class="flex md:flex-row md:w-full text-[#DAE1E5]">
        <header class="md:w-12/12 w-full flex justify-between bg-[#0A3454] rounded-md p-4" id="header">
            <script>
                includeHTML('./partials-es/header-es.html', 'header');
            </script>
        </header>
        <div class="md:gap-2 md:grid md:items-center bg-[#1B687B] rounded-md md:mx-4 justify-between" id="lenguage-flags"> 
            <a href="../es/index-es.html" class="rounded-lg md:mx-4 grid items-center"><img class="mx-8 w-[72px] h-[48px] md:mx-0 md:w-[48px] md:h-[28px] hover:scale-110 transition-transform duration-300" src="/img/espania.png" alt="bandera españa"></a>
            <a href="../en/index-en.html" class="rounded-lg md:mx-4 grid items-center"><img class="mx-8 w-[72px] h-[48px] md:mx-0 md:w-[48px] md:h-[28px] hover:scale-110 transition-transform duration-300" src="/img/inglaterra.png" alt="bandera reino unido"></a>
        </div>
    </div>

    <!-- MAIN -->
    <main class="p-4 text-[#141414] font-h3">
        <div class="text-lg text-[#141414] md:px-20 md:pt-10">
          <p>Bienvenido a  mi portafolio, soy Federico Vega, Analista de Sistemas y programador backend.</p>
          <br>
          <p>Soy amante de la música y aunque en mi familia tenemos una vena artística muy marcada, me gusta el desarrollo backend.</p>
          <br>
          <p>Actualmente estoy buscando nuevos retos y oportunidades para ampliar mis conocimientos.</p>
          <br>
          <p>Te invito a explorar mi portfolio y ver algunos de los proyectos en los que he trabajado.</p>
          <br>
          <p>Si te interesa mi perfil, estaré encantada de hablar contigo.</p>
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="flex justify-between items-center p-4 bg-[#0A3454] text-[#DAE1E5] shadow-md mt-10 rounded-md" id="footer">
      <script>
        includeHTML('./partials-es/footer-es.html', 'footer');
      </script>
    </footer>
  </body>
</html>
