
<div class="w-1/3">
    <p>
    Copyright ® 2023 <br> Sitio web desarrollado por
    <a href="https://wa.me/5492615878046" class="text-blue-500 hover:underline">Federico Vega</a> - Todos los derechos reservados.
    </p>
</div>
<div class="w-2/3">
    <h3 class="text-lg font-bold">Contáctame</h3>
    <p>Con gusto podemos coordinar una entrevista!</p>
    <p>Email: federico_vega22@hotmail.com</p>
    <p>Wsp: +5492615878046</p>
    <p>in: +5492615878046</p>
    <p>(No uso otras redes pero responderé brevemente si me envías un mensaje al número de wsp)</p>
</div>
